body {
    background-color:#216894;
}

.main-container {
    height: 100vh;
}

.nav__block {
    height: 100%;
}

#text-navbar{
    color:white;
}

#lms-logo{
    margin-right: 5%;
}

.col-lg-8{
    box-sizing: border-box;
    padding-top: 8%;
    background-color: white;
    height:100%;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: #428bca;
}