.no-data-message {
  display: none;
}

.primer-text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 8px 0 0;
}

.time-icon {
  font-size: 24px;
  color: #226793;
  margin-right: 8px;
}

.timer-value {
  width: 65px;
  font-size: 24px;
  text-align: right;
}

.timer-unit {
  font-size: 18px;
  font-weight: bold;
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  line-height: 1;
}

.primer-text--good {
  background-color: green;
}

.primer-text--bad {
  background-color: red;
}

.answers-table {
}

td, th {
 text-align: center;
 vertical-align: middle !important;
 font-size: 18px;
}

.col-lg-8 {
 overflow:hidden;
}

.container-fluid main-container {
 overflow:hidden;
}

input {
font-size: 22px;
}
.card {
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 250px;
    margin: 0 auto;
    position: relative;
    width: 80%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}