@media screen and (max-width: 600px) {
    .info-block {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    }
}
@media screen and (min-width: 601px) {
    .info-block {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    }
    .card {
    margin: 2%;
    }
}

td, th {
 text-align: center;
 vertical-align: middle !important;
 font-size: 18px;
}

th {
    height: 65px;
}

#button-got-it {
    margin-top: 40px;
    margin-bottom: 30px;
}

.card--title {
    font-size: 1.3rem;
    text-underline: #5b80b2;
    text-underline-position: below;
}

.card--value {
    font-size: 2.1rem;
}