
td, th {
 text-align: center;
 vertical-align: middle !important;
 font-size: 18px;
}

th {
    height: 65px;
}

#button-got-it {
    margin-top: 40px;
    margin-bottom: 30px;
}

.card--title {
    font-size: 1.3rem;
    text-underline: #5b80b2;
    text-underline-position: below;
}

.card--value {
    font-size: 2.1rem;
}