# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/lms.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.pyc
.idea/dataSources.xml
.idea/dataSources/
exercise.pdf
*.sqlite3
