{% extends "mysite/base.html" %}
{% block train %}
class="active"
{% endblock %}
{% block name %}Тренажёр{% endblock %}

{% block import %}
{% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/primer.css' %}">

    <script>
        const API_GET_EXERCISE = "{% url 'polls:get_exercise' %}";
        const API_CHECK_ANSWER = "{% url 'polls:check_answer' %}";
        const API_GET_HISTORY = "{% url 'polls:get_history' %}";

    </script>
    <script type="text/javascript" src="{% static 'polls/js/primer.js' %}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
    <script>
        const CRSF_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    </script>
<section class="block__col block--center">
        <div class="block__row">
            <span class="primer-text" id="exerciseText"></span>
            <input id="answer" type="string" placeholder="Введите ответ">
            <button id="checkAnswer" class="btn btn-primary btn-sm">Ответить</button>
            <div class="block__row block--center" style="margin-left: 12px;">
                <i class="fas fa-clock time-icon" title="Время решения примера"></i>
                <span id="timerValue" class="timer-value"></span>
                <span id="timerUnit" class="timer-unit"></span>
            </div>

        </div>


{#        {{sl}} {{znak}} {{sll}} =#}
{##}
{#        {{ form }}#}
{#        <input type="submit" value="Ответить" />#}
{#        {%if answer_check %}#}
{#            <font color="green" size="4"><i class="icon-search glyphicon glyphicon-ok-circle"></i></font>#}
{#        {% else %}#}
{#            <font color="red" size="4"><i class="icon-search glyphicon glyphicon-remove-circle"></i></font>#}
{#        {% endif %}#}

</section>
<section class="block__row block--center" style="margin-top: 30px;">
    <p id="noHistoryMessage" class="no-data-message">Решенные примеры отсутствуют</p>
    <div id="answersHistory" class="block__col history__block">

    </div>

</section>

{% endblock %}



 
