<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" content="width=device-width, user-scalable=0, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href='{% static "polls/css/base.css" %}'/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block import %}
    {% load static %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header"><a class="navbar-brand"><img src='{% static "polls/media/sitsh-logo.png" %}'</a>
            <a class="navbar-toggle" data-toggle="collapse" data-target="#mN">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse collapse" id="mN">
            <ul class="nav navbar-nav navbar-right">
                <li><a>Вы вошли как {{ user.username }}</a></li>
                {% if user.username == "admin" %}
                <li><a href="/admin/">Панель администратора</a></li>
                {% endif %}
                <li><a href="/">Тренажёры</a></li>
                <li><a href="/control/">Контроль</a></li>
                <li><a href="/stats/">Статистика</a></li>
                <li><a href="/logout/">Выход</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="container-fluid main-container">
        <div class="row">
        <div class="col-lg-12">
                <p><h1 align="center" >{% block name %}{% endblock %}</h1></p>
                <br>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>