<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" content="width=device-width, user-scalable=0, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href='{% static "polls/css/base.css" %}'/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% block import %}
    {% load static %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid main-container">
        <div class="col-lg-2 nav__block">
            <div id="lms-logo">
                <p><img src='{% static "polls/media/logo.png" %}' class="img-responsive" alt="тут должно быть лого"></p>
            </div>
            {% if user.is_authenticated %}
            <div id="text-navbar">
                <p class="text-center">Вы вошли как {{ user.username }}</p>
            </div>
            {% endif %}
            <ul class="nav nav-pills nav-stacked">
                <li {% block home %}{% endblock %} type="submit">
                    <a class="navbar-link" href="{% url 'polls:home' %}">Главная страница</a>
                <li {% block temp_make %}{% endblock %} type="submit">
                    <a href="{% url 'polls:temp_make' %}"> Cоздать варианты заданий</a>
                </li>
                {% if teacher_check %}
                <li {% block temp_save %}{% endblock %} type="submit">
                    <a href="{% url 'polls:temp_save' %}">Создать свой шаблон</a>
                </li>
                {% endif %}
                <li {% block train %}{% endblock %} type="submit">
                    <a href="{% url 'polls:primer' %}">Тренажёр</a>
                </li>
                {% if user.is_authenticated %}
                <li {% block practice %}{% endblock %} type="submit">
                    <a href="{% url 'polls:practice' %}">Практика</a>
                </li>
                {% endif %}
                <li type="button">
                    <a href="/logout/"><i class="icon-search icon-off"> </i> Выход</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
                <p><h1 align="center" >{% block name %}{% endblock %}</h1></p>
                <br>
                <br>
                {% block content %}{% endblock %}
            </div>
    </div>
</body>
</html>