<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="dom.css" rel="stylesheet" type="text/css" />
  <title>Главная</title>
 </head>   
 <body>
  <div id="big">
   <div id="zagolovok">
    <p><h2 align="center" >Немного обо мне:</h2></p>
    <div id="text_sleva">
	<p><font >Здесь будет текст стартовой страницы, но пока его нет</font></p>
	<p><font >Нажав на кнопку ниже, вы попадете на страницу входа в систему</font></p>
	<p><font >Естественно потом она(кнопка) переедет, но не сегодня</font></p>
	<p><font >Кстати, если вы еще не зарегистрированы, Вам любезно предложат это сделать</font></p>
	<p><font >Еще у нас можно порешать случайно сгенерированные примерчики</font></p>
    </div>
   </div>

	<div id="buttons">
		<a href="http://localhost:8000/login/" align="center"><button><h3>Нажми меня</button></h3></form>
	</div>
   </div>
 </body>
</html>