
#text_sleva{
	font:Arial;
	font-size:22;
	color:white;
	margin-bottom: 10px;
	margin-top: 50px;
	margin-left:20px;
	margin-right:20px
}
h2{
	font:Arial;
	font-size:52;
	color:red;
	margin-bottom: 0px;
	margin-top: 0px;
}
h1 {
	font:Arial;
	font-size:42;
	color:red;
}
h3{
	font-size: 40%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: red;
}
h4{
	font-size: 240%;
	color: white;
	margin-top: 7px;
	margin-bottom: 7px;
}
#gs {
	position: absolute;
    width: 600px;
	height: 370px;
	margin-top: 25px;
    margin-left: 675px;
	-webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background-image: url(images/fonbloka.png);
}

#buttons {
	position: absolute;
	margin-top: 80px;
    margin-left: 47%;
}
#buttons2 {
	position: absolute;
	margin-top: 80px;
    margin-left: 7%;
}
#buttons3 {
	position: absolute;
	margin-top: 415px;
    margin-left: 580px;
}