{% extends "mysite/base.html" %}
{% block home %}
class="active"
{% endblock %}
{% block name %}Главная страница{% endblock %}
{% block content %}


    <p><font >

	<p class="text-left" style="padding-left: 40px;">Краткая информация о страничках:</p>
    <br>
	<p class="text-left" style="padding-left: 40px;">Создать варианты заданий (только для Учителя): генерирует PDF файл с заданным количеством задач, вариантов по выбранной теме.</p>
    <br>
	<p class="text-left" style="padding-left: 40px;">Создать свой шаблон (только для Учителя): позволяет создать собственный шаблон для задачи, с возможностью подставления числовых и строчных значений из базы данных для уникального контекста.</p>
    <br>
	<p class="text-left" style="padding-left: 40px;">Тренажер: сложение, вычитание, умножение и деление с проверкой введенного ответа.</p>
    <br>
    <p class="text-left" style="padding-left: 40px;">Практика: решение задач по шаблонам из базы с проверкой введенного ответа. Дробные значения пишутся через точку.</p>
    <br>
    <p class="text-left" style="padding-left: 40px;">Ранняя версия, баги неизбежны. При столкновении обновить страницу (F5)</p>
    <br>
    <br>
    <p class="text-center">Пример созданного задания:</p>

    <!--<p>user.id : {{user.id}}</p>-->

    <table border="2" align="center"> <td>
    <p>Задача: {{name}}</p>
    <p>{{text}}</p>
    <p>Ответ: {{answer}}</p>
    </td></table>




    <!--<form action="home" method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ number }}-->
        <!--<input type="submit" value="Submit" />-->
    <!--</form>-->



    {% for o in stroka %}
        {{o|linebreaks }}
        --------------------------------------------
    {% endfor %}



{% endblock %}