{% extends "mysite/base.html" %}
{% block home %}
class="active"
{% endblock %}
{% block name %}Главная страница{% endblock %}
{% block content %}


    <p><font >

	<p class="text-center">Здесь будет текст стартовой страницы, но пока его нет</p>
    <br>
    <p class="text-center">Пример созданного задания:</p>

    <!--<p>user.id : {{user.id}}</p>-->

    <table border="2" align="center"> <td>
    <p>Задача: {{name}}</p>
    <p>{{text}}</p>
    <p>Ответ: {{answer}}</p>
    </td></table>




    <!--<form action="home" method="post">-->
        <!--{% csrf_token %}-->
        <!--{{ number }}-->
        <!--<input type="submit" value="Submit" />-->
    <!--</form>-->



    {% for o in stroka %}
        {{o|linebreaks }}
        --------------------------------------------
    {% endfor %}



{% endblock %}