{% extends "mysite/base.html" %}

{% block title %}Тренажёр СИТШ{% endblock %}
{% block import %}
{% load static %}


{% endblock %}
{% block name %}Тренажёр{% endblock %}
{% block content %}
{% csrf_token %}
    <script>
        const CRSF_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    </script>
<select class="form-control" id="apparatus-selector">
    {% for test in tests %}
        <option data-description="{{ test.description }}">
            {{ test.name }}
        </option>
    {% endfor %}
</select>
<div id="test-description">
    <span id="description-value"></span>
</div>
    <p><button class="btn btn-primary btn" id="button-got-it"><h4>Начать тренировку</h4></button></p>
    <script type="text/javascript" src="{% static 'polls/js/lms.js' %}"></script>

{% endblock %}