{% extends "mysite/base.html" %}
{% block enter %}
class="active"
{% endblock %}
{% block title %}Логин{% endblock %}
{% block name %}Вход в систему{% endblock %}
{% block content %}
        <br>
            <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="http://localhost:8000/register/"><button type="button" class="btn btn-primary">Регистрация</button></a>
            </form>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-5 col-md-3">
                    <div class="form-login">
                    <h4>Welcome back.</h4>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    </br>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    </br>
                    <div class="wrapper">
                    <span class="group-btn">
                        <button type="submit" class="btn btn-primary">login <i class="fa fa-sign-in"></i></button>
                    </span>
                    </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}