{% extends "mysite/base.html" %}
{% block enter %}
class="active"
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block name %}Регистрация{% endblock %}
{% block content %}

<p class="text-center">
<form action="" method="post">
    {% csrf_token %}
    <div class="login__block">
        <div class="input-holder">
            <input type="text" name="username" id="username" placeholder="Имя пользователя" required
                   class="form-control"/>
            <input type="password" name="password1" id="password1" placeholder="Пароль" required class="form-control"/>
            <input type="password" name="password2" id="password2" placeholder="Повторите пароль" required
                   class="form-control"/>
            <button type="submit" class="btn btn-primary btn">Регистрация</button>
        </div>
    </div>
</form>
</p>
{% endblock %}

