{% extends "mysite/base.html" %}
{% block temp_make %}
class="active"
{% endblock %}
{% block title %}Создание шаблонов по вариантам{% endblock %}
{% block name %}Создание варианта{% endblock %}
{% block content %}



    <form action="temp_make" method="post">
        {% csrf_token %}
        {{ number }}<br>


        {{form3}}
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Cоздать варианты заданий</button>
    </form>






    {% for o in stroka %}
        {{o|linebreaks }}
        --------------------------------------------
    {% endfor %}

{% endblock %}