<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Создание шаблонов по вариантам</title>


</head>
<body>
    <a href=' http://127.0.0.1:8000/home'><button type="submit" class="btn btn-primary">Домой</button></a> <br>


    <form action="temp_make" method="post">
        {% csrf_token %}
        {{ number }}<br>


        {{form3}}<br>

        <button type="submit" class="btn btn-primary">Cоздать варианты заданий</button>
    </form>






    {% for o in stroka %}
        {{o|linebreaks }}
        --------------------------------------------
    {% endfor %}


</body>
</html>